.contact-wrapper {
  background: linear-gradient(
    160deg,
    #edf6f9 0%,
    #d0e8f2 33%,
    #a9d6e5 66%,
    #89c2d9 100%
  );
  color: #333333;
}
.contact-title,
.contact-content {
  opacity: 0;
  transition: opacity 0.5s ease-in, transform 0.5s ease-in;
}

@media (max-width: 768px) {
  .contact-content > p {
    font-size: 16px;
  }
}
