.main {
  background: linear-gradient(
    135deg,
    #e3f6f5 0%,
    #bae8e8 33%,
    #a0d2db 66%,
    #5eaaa8 100%
  );
  color: #1e1e1e;
}
.main > div {
  width: 700px;
  font-size: 100px;
}

@media (max-width: 768px) {
  .main > div {
    font-size: 20px;
  }
}

.text-type {
  display: inline-block;
  white-space: pre-wrap;
}

.text-type__cursor {
  margin-left: 0.25rem;
  display: inline-block;
  opacity: 1;
}

.text-type__cursor--hidden {
  display: none;
}
