/* projects */
.projects-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.project-title {
  opacity: 0;
  transition: opacity 0.5s ease-in, transform 0.5s ease-in;
}

.projects {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 500px;
  opacity: 0;
  transition: opacity 0.5s ease-in, transform 0.5s ease-in;
}

.card {
  background-color: rgb(83, 213, 222);
  width: 500px;
  padding: 0 2rem 1.5rem 2rem;
  font-size: 2rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card img {
  margin-top: -20%;
  width: 100%;
  border-radius: 20px;
}
.go-to-project {
  position: relative;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #007bff;
  margin: 0 auto;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.go-to-project:hover {
  color: #007bff;
  transform: translateY(4px);
  background-color: white;
}

.left-arrow,
.right-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 3rem;
  color: #545252;
  z-index: 1000;
}

.left-arrow:hover,
.right-arrow:hover {
  color: darkslategrey;
}

.left-arrow {
  left: 10%;
}

.right-arrow {
  right: 10%;
}

/* project page */

.project-page-wrapper {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow-x: hidden;
}

.go-to-site {
  position: absolute;
  top: 15px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.site {
  width: 50px;
  height: 50px;
  margin-left: -10px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.site:hover > .icon {
  transition: transform 0.2s linear;
  transform: scale(1.7);
  color: #e8e8e8;
}

.site::before {
  background: rgb(161, 222, 241);
  content: "";
  position: absolute;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  transform: scale(0);
  transition: transform 0.2s linear;
}
.site:hover::before {
  transform: scale(1);
}

.project-page-content {
  margin-top: 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project-name {
  font-size: 32px;
  font-weight: bold;
}

.description {
  width: 700px;
  font-size: 16px;
}

.project-item {
  width: 800px;
  margin: 50px auto;
  border-radius: 20px;
}

.project-img {
  width: 99%;
  height: 500px;
  margin: 0 auto;
  border-radius: 20px;
  border: 2px solid silver;
}

.project-detail {
  display: flex;
  justify-content: center;
  margin-top: -25px;
}

.project-detail > div {
  position: relative;
  overflow: hidden;
}

.project-detail ul {
  width: 400px;
  padding: 10px;
  font-size: 20px;
}

.project-detail li {
  list-style: decimal inside;
  word-break: keep-all;
  margin: 5px auto;
  width: 400px;
  text-align: left;
  text-indent: -18px;
  padding-left: 18px;
}

.project-detail li::marker {
  font-weight: bold;
}

.detail-title {
  margin-top: 10px;
  font-size: 24px;
  font-weight: bold;
}

.slick-prev:before,
.slick-next:before {
  font-size: 50px !important;
  color: black !important;
}
.slick-prev:before {
  margin-left: -50px;
}

.next-project,
.prev-project {
  position: absolute;
  font-size: 17px;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background-color: rgb(167, 167, 167);
  top: 40%;
  cursor: pointer;
  border: none;
  text-align: left;
}

.next-project:hover,
.prev-project:hover {
  background-color: rgb(216, 215, 215);
  color: #4f5151;
}

.prev-project {
  left: -50px;
  text-align: right;
}

.next-project {
  right: -50px;
  text-align: left;
}

@media (max-width: 768px) {
  .card {
    width: 250px;
    font-size: 1rem;
    padding: 0 1rem 2rem 1rem;
  }

  .description {
    height: 20px;
    width: 300px;
  }

  .left-arrow {
    left: 0;
  }

  .right-arrow {
    right: 0;
  }

  .go-to-site {
    gap: 0;
    font-size: 12px;
  }

  .project-item {
    width: 77%;
  }

  .project-item a {
    width: 250px !important;
  }

  .project-img {
    width: 250px !important;
    height: 150px;
  }

  .detail-title {
    font-size: 12px;
  }

  .project-detail {
    ul {
      width: 150px;
      font-size: 12px;
    }
    li {
      width: 130px;
    }
  }

  .next-project,
  .prev-project {
    top: 30%;
    font-size: 10px;
    width: 50px;
    height: 50px;
    right: -25px;
  }

  .prev-project {
    left: -25px;
  }

  .slick-prev:before,
  .slick-next:before {
    font-size: 25px !important;
    color: black !important;
  }
}
