.projects-wrapper {
  background: linear-gradient(
    90deg,
    #f5f0fa 0%,
    #eadcf8 33%,
    #e5c1f2 66%,
    #d3a5e6 100%
  );
}

.projects-heading {
  font-weight: 700;
}

.projects-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.8rem;
}

.project-link {
  position: relative;
  border-radius: 15px;
  padding: 12px;
  cursor: pointer;
  box-shadow: 1px black;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04), 0 4px 8px rgba(0, 0, 0, 0.06),
    0 8px 16px rgba(0, 0, 0, 0.04), 0 16px 24px rgba(0, 0, 0, 0.03);
}

.project-image {
  width: 90%;
  height: 180px;
  border-radius: 15px;
  transition: filter 0.3s ease;
}

.project-link:hover .project-image {
  filter: brightness(0.6);
}

.project-name {
  font-size: 2rem;
  padding: 1rem;
}

.project-link::before {
  content: "자세히 보기";
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -30%);
  color: white;
  font-size: 1rem;
  font-weight: 700;
  background-color: rgba(0, 123, 255, 0.8);
  padding: 10px;
  border-radius: 10px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 10;
  word-break: keep-all;
}

.project-link:hover::before {
  opacity: 1;
  pointer-events: auto;
}

@media (max-width: 800px) {
  .project-image {
    width: 90%;
    height: 90px;
    object-fit: cover;
    border-radius: 15px;
    transition: filter 0.3s ease;
  }

  .projects-list {
    grid-template-columns: repeat(2, 1fr);
  }
  .project-name {
    font-size: 1rem !important;
  }
  .project-link::before {
    font-size: 0.7rem;
  }
}
