/*projects*/
.projectsWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
  background-color: rgb(213, 233, 240);
}

.projects {
  display: flex;
}

.project {
  border: 2px solid silver;
  border-radius: 20px;
  width: 300px;
  height: 300px;
  > img {
    border-radius: 20px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
  }
  @media (max-width: 480px) {
    width: 110px;
    height: 110px;
  }
}

/*profect page*/

/*projectPageWrapper 부모 요소*/
#root {
  background-color: antiquewhite;
  height: 100vh;
}
.projectPageWrapper {
  padding: 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.projectName {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.projectItem {
  width: 1024px;
  margin: 0 auto;
  margin-top: 100px;
  border-radius: 20px;
  .projectImg {
    width: 700px !important;
    height: 500px;
    border-radius: 20px;
    border: 2px solid silver;
    @media (max-width: 480px) {
      width: 250px !important;
      height: 250px;
    }
  }
  > p {
    width: 100%;
    font-weight: bold;
    margin-top: 50px;
  }
  @media (max-width: 480px) {
    width: 100%;
  }
}

.site {
  display: inline-block;
  margin-right: 10px;
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
}

.site:hover {
  text-decoration: underline;
  color: #0056b3;
}

.backButton {
  position: fixed;
  top: 1%;
  background-color: burlywood;
  font-size: 2rem;
  border-radius: 20px;
  padding: 15px 12px 15px 12px;
  cursor: pointer;
  &:hover {
    background-color: rgb(211, 135, 36);
  }
  @media (max-width: 480px) {
    font-size: 20px;
    left: 0;
  }
}

.description {
  background-color: #fff;
  border-radius: 5px;
  max-width: 700px;
  font-size: 16px;
  line-height: 1.5;
}

.slick-prev:before,
.slick-next:before {
  font-size: 50px !important;
  color: black !important;
}
