@import url("./css/projects.css");

.App {
  font-family: Arial, sans-serif;
}

section {
  position: relative;
  height: 99vh;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

section div {
  gap: 20px;
}

p {
  width: 500px;
  font-size: 20px;
  margin: 0 auto;
  margin-top: 100px;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  width: 100%;
  height: 100px;
  line-height: 100px;
}

.contact {
  background-color: rgb(172, 161, 148);
}

.downButton {
  position: absolute;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 50px solid;
  color: gray;
  bottom: 20px;
  left: 47%;
  &:hover {
    color: darkslategrey;
    cursor: pointer;
  }
}

.upButton {
  position: absolute;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 50px solid;
  color: gray;
  bottom: 20px;
  left: 47%;
  &:hover {
    color: darkslategrey;
    cursor: pointer;
  }
}

.main > div {
  width: 700px;
  font-size: 100px;
}

.aboutMeContainer {
  background-color: rgb(215, 215, 182);
}

.aboutMeTitle {
  opacity: 0;
  transform: translateX(-500px); /*  초기 위치  */
  transition: opacity 0.5s ease-in, transform 1s ease-in;
}

.aboutMeContent {
  opacity: 0;
  transform: translateX(500px); /*  초기 위치  */
  transition: opacity 0.5s ease-in, transform 1s ease-in;
}
