@import url("./css/projects.css");

.sectionMenu {
  z-index: 999;
  position: fixed;
  right: 120px;
  @media (max-width: 480px) {
    right: 10px;
  }
}

.sectionList {
  list-style: none;
  display: flex;
  cursor: pointer;
  > li {
    margin-left: 15px;
    font-size: 20px;
    font-weight: bold;
    padding-block: 10px;
    background-repeat: no-repeat;
    background-position: bottom;
    transition: 0.4s;
    background-size: 0 4px;
    background-image: linear-gradient(to right, Black, Black);
    &:hover {
      background-size: 100% 4px;
      background-image: linear-gradient(to right, Black, Black);
    }

    @media (max-width: 480px) {
      font-size: 15px;
    }
  }
  > li.active {
    background-size: 100% 4px;
    background-image: linear-gradient(to right, Black, Black);
  }
}

section {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

section div {
  gap: 20px;
}

/*secton title*/
h2 {
  font-family: "Arial Black", sans-serif;
  font-size: 44px;
  text-align: center;
}

p {
  width: 550px;
  font-size: 20px;
  margin: 0 auto;
  margin-top: 10px;
}

footer {
  background-color: #333;
  text-align: center;
  width: 100%;
  height: 100px;
  line-height: 100px;
}

.contactTitle,
.contactContent {
  opacity: 0;
  transition: opacity 0.5s ease-in, transform 0.5s ease-in;
}

.downButton {
  position: absolute;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 30px solid;
  color: gray;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%);
  &:hover {
    color: darkslategrey;
    cursor: pointer;
  }
}

.upButton {
  position: absolute;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 30px solid;
  color: gray;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%);
  &:hover {
    color: darkslategrey;
    cursor: pointer;
  }
}

.main > div {
  width: 700px;
  font-size: 100px;
  @media (max-width: 480px) {
    font-size: 20px;
  }
}

.aboutMe {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.aboutMeTitle,
.aboutMeContent {
  opacity: 0;
  transition: opacity 0.5s ease-in, transform 0.5s ease-in;
}

.aboutMeContent {
  width: 500px;
  p {
    transition: 0.5s;
    &:hover {
      font-weight: 900;
      color: rgb(13, 163, 128);
      + p {
        color: #4deac8;
        font-weight: 600;
        + p {
          color: rgb(168, 243, 247);
          font-weight: 200;
        }
      }
    }
    &:has(+ p:hover) {
      font-weight: 600;
      color: #4deac8;
    }
    &:has(+ p + p:hover) {
      color: rgb(168, 243, 247);
      font-weight: 200;
    }
  }
  > p {
    @media (max-width: 480px) {
      width: 300px;
      font-size: 11px;
    }
  }
}

.skills {
  width: 500px;
  font-size: 20px;
  font-weight: bold;
  opacity: 0;
  transition: opacity 1s ease-in;
  @media (max-width: 480px) {
    width: 250px;
  }
}
.skillImg {
  width: 60px;
  margin: 2px;
  @media (max-width: 480px) {
    width: 30px;
  }
}

.modeToggle {
  position: fixed;
  top: 5%;
  left: 5%;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 9999;
}

.moon,
.sun {
  width: 70px;
  height: 70px;
  background-color: yellow;
  border-radius: 50%;
  border: none;
  box-shadow: 0 0 30px rgba(255, 255, 0, 0.6);
  text-align: center;
  line-height: 70px;
  font-weight: bold;
  cursor: pointer;
}

.sun {
  background-color: rgb(247, 95, 19);
  box-shadow: 0 0 30px rgba(242, 82, 28, 0.6);
}

@media (max-width: 480px) {
  .moon,
  .sun {
    width: 35px;
    height: 35px;
    font-size: 10px;
    line-height: 35px;
  }
}
