@import url("./css/projects.css");

.sectionMenu {
  z-index: 999;
  position: fixed;
  right: 120px;
  @media (max-width: 480px) {
    right: 10px;
  }
}

.sectionList {
  list-style: none;
  display: flex;
  cursor: pointer;
  > li {
    color: #fff;
    margin-left: 15px;
    font-size: 20px;
    font-weight: bold;
    &:hover {
      text-decoration: underline;
    }
    @media (max-width: 480px) {
      font-size: 15px;
    }
  }
}

section {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

section div {
  gap: 20px;
}

/*secton title*/
h2 {
  font-family: "Arial Black", sans-serif;
  font-size: 44px;
  text-align: center;
  background-image: linear-gradient(to left, #a6e09a, #e2f4d6, #a6d3f5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.mainText {
  background-image: linear-gradient(to left, #a6e09a, #e2f4d6, #a6d3f5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
p {
  width: 550px;
  font-size: 20px;
  margin: 0 auto;
  margin-top: 10px;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  width: 100%;
  height: 100px;
  line-height: 100px;
}

.contact {
  display: flex;
  color: #fff;
  flex-direction: column;
  justify-content: space-around;
}
.downButton {
  position: absolute;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 30px solid;
  color: gray;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%);
  &:hover {
    color: darkslategrey;
    cursor: pointer;
  }
}

.upButton {
  position: absolute;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 30px solid;
  color: gray;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%);
  &:hover {
    color: darkslategrey;
    cursor: pointer;
  }
}

.main > div {
  width: 700px;
  font-size: 100px;
  @media (max-width: 480px) {
    font-size: 20px;
  }
}

.aboutMe {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.aboutMeTitle {
  opacity: 0;
  transition: opacity 0.5s ease-in, transform 0.5s ease-in;
}

.aboutMeContent {
  width: 500px;
  color: #fff;
  border-radius: 20px;
  opacity: 0;
  transition: opacity 0.5s ease-in, transform 0.5s ease-in;
  > p {
    @media (max-width: 480px) {
      width: 300px;
      font-size: 11px;
    }
  }
}
