* {
  margin: 0;
  padding: 0;
}

html {
  list-style: none;
}

body {
  background-image: url("./img/light.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  color: black;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Dark Mode Styles */
body.dark-mode {
  color: floralwhite;
  background-image: url("./img/dark.png");
}

body.dark-mode .mode-toggle {
  background-color: rgb(9, 4, 54);
}

body.dark-mode #list,
body.dark-mode #list:hover {
  background-image: linear-gradient(to right, #fff, #fff);
}

body.dark-mode #list.active {
  background-image: linear-gradient(to right, crimson, crimson);
}

body.dark-mode .down-button,
body.dark-mode .up-button,
body.dark-mode .right-arrow,
body.dark-mode .left-arrow {
  color: #fff;
}

body.dark-mode .down-button:hover,
body.dark-mode .up-button:hover,
body.dark-mode .right-arrow:hover,
body.dark-mode .left-arrow:hover {
  color: darkslategrey;
  cursor: pointer;
}

body.dark-mode .slick-prev:before,
body.dark-mode .slick-next:before,
body.dark-mode .slick-dots li button:before {
  color: white !important;
}

body.dark-mode .site:hover > .icon {
  color: #6b6a6a;
}

body.dark-mode .site::before {
  background: silver;
}

body.dark-mode {
  .slick-prev:before,
  .slick-next:before,
  .slick-dots li button:before {
    color: white !important;
  }

  .project-detail > div span:nth-child(1) {
    background: linear-gradient(90deg, transparent, #fff);
  }
  .project-detail > div span:nth-child(2) {
    background: linear-gradient(180deg, transparent, #fff);
  }
  .project-detail > div span:nth-child(3) {
    background: linear-gradient(270deg, transparent, #fff);
  }
  .project-detail > div span:nth-child(4) {
    background: linear-gradient(360deg, transparent, #fff);
  }
}
