* {
  margin: 0;
  padding: 0;
}

html {
  list-style: none;
}

body {
  background-image: url("./img/light.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  color: black;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Dark Mode Styles */
body.dark-mode {
  color: floralwhite;
  background-image: url("./img/dark.png");
}

body.dark-mode #list {
  background-image: linear-gradient(to right, #fff, #fff);
  &:hover,
  &.active {
    background-image: linear-gradient(to right, #fff, #fff);
  }
}

body.dark-mode .downButton,
body.dark-mode .upButton,
body.dark-mode .rightArrow,
body.dark-mode .leftArrow {
  color: #fff;
  &:hover {
    color: darkslategrey;
    cursor: pointer;
  }
}

body.dark-mode .slick-prev:before,
body.dark-mode .slick-next:before,
body.dark-mode .slick-dots li button:before {
  color: white !important;
}
